@media only screen and (max-width: 960px) {

	.site-inner,
	.wrap {
		max-width: 800px;
	}
	
	.site-title a, .site-title a:hover {
    	width: 170px;
    	height: 65px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-content .sidebar-primary,
	.content-sidebar-sidebar .sidebar-primary,
	.sidebar-sidebar-content .sidebar-primary,
	.sidebar-content-sidebar .sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}
	.footer-widgets .widget-area {
		@include grid(1, 0, 800);
		border-bottom:1px solid $color-primary-two;
		margin-bottom:20px;
		padding-bottom:20px;
	}
	.footer-widgets .widget-area:last-child{
		border-bottom:none;
		margin-bottom:0;
		padding-bottom:0;
	}

	.header-image .site-title > a {
		background-position: center top;
	}
	
	.genesis-nav-menu {
		@include font(1.2, 1.8);
		letter-spacing:0.1rem;
		font-weight:700;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.footer-widgets-1 {
		margin-right: 0;
	}
	
	/* Grid
	-------------------------------------- */
	
	.coll2 {
		@include grid(2, 20, 800);
	}
	.coll3 {
		@include grid(3, 20, 800);
	}
	.coll4 {
		@include grid(4, 20, 800);
	}
	.coll5 {
		@include grid(5, 20, 800);
	}
	.coll6 {
		@include grid(6, 20, 800);
	}
	.coll7 {
		@include grid(7, 20, 800);
	}
	.coll8 {
		@include grid(8, 20, 800);
	}
	.coll9 {
		@include grid(9, 20, 800);
	}
	.coll10 {
		@include grid(10, 20, 800);
	}
	.coll11 {
		@include grid(11, 20, 800);
	}
	.coll12 {
		@include grid(12, 20, 800);
	}
	
	/* Instagram feed CSS
	---------------------------------------------------------------------------------------------------- */
	
	#sb_instagram.sbi_col_3 #sbi_images .sbi_item {
		@include instagrid(3, 20, 437);
		margin-bottom:20px !important;
	}

}