/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	color: $color-primary-two;
	background-color: $color-primary-one;
	@include font(1.6, 2.4);
	clear: both;
	padding: 100px 0;
}

.footer-widgets a {
	color: $color-primary-two;
	text-decoration:none;
}

.footer-widgets input {
	border: 1px solid $color-black;
}

.footer-widgets a.button,
.footer-widgets a:hover,
.footer-widgets a:focus {
	color: $color-primary-two;
	text-decoration: underline;
}

.footer-widgets li {
	border-bottom: 1px dotted $color-black;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.footer-widgets .widget {
	margin-bottom: 0px;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}

.footer-widgets .widget-area {
	display:block;
	float:left;
	@include grid(3, 60, 1200);
}