/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
	color: $color-white;
}

.sidebar .widget.enews-widget {
	background-color: $color-black;
}

.enews-widget input,
.enews-widget input:focus {
	border: 1px solid $color-black;
}

.enews-widget input {
	@include font(1.6, 2.4);
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	background-color: $color-primary-one;
	color: $color-white;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"],
.enews-widget input:focus[type="submit"]  {
	background-color: $color-white;
	color: $color-black;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: $color-black;
	outline: #ccc solid 1px;
}

/* PortBox CSS
---------------------------------------------------------------------------------------------------- */
.portBox-overlay {  
	height: 100%;
	width: 100%;
	background: $color-primary-one;
	opacity: 0.45;
	filter: alpha(opacity=45);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

.portBox {
	max-width:610px;
	position: absolute;
	display:none;
	background: $color-white;
	z-index: 1001;
	padding: 20px;
	text-align:left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
	-box-shadow: 0 0 10px rgba(0,0,0,.2);
	min-width:200px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.close-portBox{
	font-size: 20px;
	line-height: .5;
	position: absolute;
	top: -6px;
	right: -7px;
	color: $color-white !important;
	text-shadow:none;
	font-weight:bold;
	cursor: pointer;
	border-radius:50%;
	padding:5px;
	background-color: $color-primary-one !important;
	overflow:visible;
	border:2px solid $color-background !important;
	text-decoration:none;
}

.close-portBox:hover{
	color: $color-primary-one !important;
	background-color:$color-background !important;
	border:2px solid $color-primary-one !important;	
}

/* Instagram feed CSS
---------------------------------------------------------------------------------------------------- */
#sbi_images {
	padding:0 !important;
}
#sb_instagram.sbi_col_3 #sbi_images .sbi_item {
	@include instagrid(3, 40, 580);
	margin-bottom:40px !important;
}

#sb_instagram #sbi_load .sbi_load_btn, 
#sb_instagram .sbi_follow_btn a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding: 16px 24px;
    margin: 5px auto 0 auto;
    background: $color-secondary-one;
    color: $color-primary-two;
    border: none;
    color: $color-primary-two;
    text-decoration: none;
    @include font(1.8, 1.8);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sb_instagram .sbi_follow_btn a {
    background: $color-secondary-one;
    color: $color-primary-two;
}

/* Sounds
---------------------------------------------------------------------------------------------------- */
#audiocontrols {
    background: url(images/sounds.png) 0 0 no-repeat;
    height: 56px;
    padding: 25px 0 0 80px;
    margin: 20px 0 5px 0;
    line-height: 1.1;
    cursor: pointer;
}